$main-color: #333D51;
$hover-color: #004FEC;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: "Proxima Nova Rg", sans-serif;
    color: $main-color;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 25px;
    font-weight: bold;
}
