.footer {
    padding: 45px 0;
}

.footer-logo {

    &__added {
        font-size: 12px;
    }
}

.footer-name {
    font-size: 15px;
}

.footer-author {
    &__by {
        font-size: 12px;
    }

    &__name {

    }
}